.container {
  width: 90vw;
  max-width: 1200px;
  height: 90vh;
  display: grid;
  grid-template-columns: 420px 1fr;
  border-radius: 20px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 700px;
    min-width: 100%;
    grid-template-columns: auto;
  }
}