@import "_variables.css";

.show-list {
  display: block !important;
  z-index: 9999;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.sidebar {
  background: var(--dark-blue) url(../images/sidebar_background.png) no-repeat
    bottom center;
  background-size: 75% auto;
  padding: 40px;
  color: var(--white);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar .title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--light-pink);
}

.sidebar form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.input-block {
  margin-top: 1rem;
}

.input-block:nth-child(3) {
  grid-column: 1/3;
  grid-row: 2;
}

.input-block label {
  display: block;
  margin-bottom: 0.5rem;
}

.select-container {
  position: relative;
  color: var(--dark-blue);
}

.select-container .selected-item {
  position: relative;
  padding: 16px;
  background: var(--white);
  border-radius: 8px;
  cursor: pointer;
}

.select-container .selected-item:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  background: url(../images/down-arrow.svg) no-repeat center;
  background-size: 100%;
  width: 14px;
  height: 20px;
  transform: translateY(-50%);
}

.select-container .select-options {
  display: none;
  list-style-type: none;
  padding: 16px;
  background: var(--white);
  border-radius: 8px;
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
}

.select-container .select-option {
  border-bottom: 1px solid #e2e2e2;
  cursor: pointer;
}

.select-container .select-option:last-child {
  border: 0;
}

.select-container .select-option div {
  padding: 8px;
  margin: 4px 0;
}

.select-container .select-option:first-child div {
  margin-top: 0;
}

.select-container .select-option:last-child div {
  border: 0;
  margin-bottom: 0;
}

.select-container .select-option:hover div {
  background: #e9e9e9;
  border-radius: 5px;
}

.select-container .select-option span {
  display: inline-block;
  width: 55px;
}

.input-field {
  display: flex;
  justify-content: space-between;
  background: var(--white);
  padding: 16px;
  border-radius: 8px;
  color: var(--dark-blue);
}

.input-field input {
  border: 0;
  outline: 0;
  font-size: 16px;
  width: 50px;
}

.submit {
  grid-column: 1/3;
  grid-row: 3;
  border: 0;
  background: var(--light-pink);
  padding: 16px;
  border-radius: 8px;
  color: var(--dark-blue);
  width: 100%;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 1rem;
  cursor: pointer;
  outline: 0;
  box-shadow: 0;
  transition: box-shadow 0.3s;
}

.submit:hover {
  box-shadow: 0 0 0 4px rgba(251, 216, 216, 0.5);
}
